



FLASK_ENV=production


SIMULATEUR_PORT=5000


SIMULATEUR_HOST=0.0.0.0



MQTT_BROKER=host.docker.internal
MQTT_PORT=1883


TELEGRAM_ALERTS_ENABLED=true
TELEGRAM_BOT_TOKEN=8678984997:AAEleM112hzZeiwOMYYVANCpsuHcHhqs0jA
TELEGRAM_CHAT_ID=6936368458
ALERT_COOLDOWN_SECONDS=60

# Seuils d'alerte
TEMPERATURE_ALERT_THRESHOLD=32
HUMIDITE_ALERT_THRESHOLD=95
VIBRATION_ALERT_THRESHOLD=5
TENSION_ALERT_THRESHOLD=1


MQTT_TOPIC_TEMPLATE=kelo/nid/{nid}/telemetry


SIMULATED_NID=A12
PUBLISH_INTERVAL=5
